@import './base.css';

/* Make all buttons in the app non-selectable */
button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


body {
  --sb-track-color: #111827;
  --sb-thumb-color: #1f2937;
  --sb-size: 6px;
}

body::-webkit-scrollbar, *::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}